article.curriculum-section {
  margin-top: 120px;
}

article.curriculum-section .container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

article.curriculum-section .container .curriculum-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}

article.curriculum-section .container .curriculum-showcase section {
  width: calc( 50% - 60px);
  margin: 30px;
  padding: 30px;
  background: #050505;
}

article.curriculum-section .container .curriculum-showcase section.course .content {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  position: relative;
  text-align: left;
}

article.curriculum-section .container .curriculum-showcase section.course .content h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 30px;
}

article.curriculum-section .container .curriculum-showcase section.course .content span.course__content {
  font-size: 14px;
  color: #00A3E1;
  margin-bottom: 20px;
}

article.curriculum-section .container .curriculum-showcase section.course .content p.course__description {
  color: #C8C8C8;
  font-size: 1.05rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

article.curriculum-section .container .curriculum-showcase section.course .content .btn.btn-primary {
  margin-top: 10px;
  box-shadow: none;
  border: 1px solid #C2C0BD;
  border-radius: 0;
}

article.curriculum-section .container .curriculum-showcase section.course .content .btn.btn-primary:hover {
  background: #20201f;
}

article.curriculum-section .container .curriculum-showcase section.course .content span.illustrator {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 0;
  background: #00A3E1;
}

article.curriculum-section .container .curriculum-showcase section.course .content span.illustrator::before, article.curriculum-section .container .curriculum-showcase section.course .content span.illustrator::after {
  content: "";
  position: absolute;
}

article.curriculum-section .container .curriculum-showcase section.course .content span.illustrator::before {
  top: 20px;
  left: -7.5px;
  height: 25px;
  width: 15px;
  border-radius: 50%;
  background: #050505;
  border: 1px solid #00A3E1;
}

article.curriculum-section .container .curriculum-showcase section.course .content span.illustrator::after {
  top: 32px;
  left: 7.5px;
  height: 1px;
  width: 25px;
  background: #00A3E1;
}

article.curriculum-section .container .curriculum-showcase section.more-btn {
  background: #151414;
  border: 1px solid #060606;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
