.why {
  background: #050505;
  margin-top: 50px;
  padding: 50px 0 0 0;
  width: 90%;
  margin: 0 auto;
  transition: .2s;
}

.why:hover {
  transform: translateY(-10px);
}

.why .container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.why .container .col-reasons {
  padding: 70px 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.why .container .col-reasons .col1 {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.why .container .col-reasons .col1 .row {
  margin: 20px 0;
}

.why .container .col-reasons .col1 .row h4 {
  color: #d94c48;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.why .container .col-reasons .col1 .row h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fdf9f9d9;
  margin-bottom: 20px;
}

.why .container .col-reasons .col1 .row p {
  color: #fdf9f9a6;
  font-size: .95rem;
  line-height: 1.3rem;
}

.why .container .col-reasons .col3 {
  text-align: left;
}

.why .container .col-reasons .col-reasons__col.col2 {
  padding: 0 40px;
}

.why .container .col-reasons .col-reasons__col.col2 .circle {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 50%;
  padding: 20px;
}

.why .container .col-reasons .col-reasons__col.col2 .circle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.why .container .col-reasons .col-reasons__col.col2 .circle span {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  height: 15px;
  width: 15px;
  color: #d94c4880;
}

.why .container .col-reasons .col-reasons__col.col2 .circle span .one {
  left: 0;
  top: 70px;
}
