@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

input:focus, button:focus, a:focus, select:focus, textarea:focus {
  outline: none !important;
}

.container {
  width: 80%;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

.btn {
  padding: 10px 20px;
  -webkit-box-shadow: -8px -8px 15px 5px rgba(0, 0, 0, 0.05), 8px 8px 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: -8px -8px 15px 5px rgba(0, 0, 0, 0.05), 8px 8px 15px 5px rgba(0, 0, 0, 0.05);
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.05), 2px 2px 7px rgba(0, 0, 0, 0.05);
          box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.05), 2px 2px 7px rgba(0, 0, 0, 0.05);
}

.btn-primary, .btn-secondary {
  background-color: #00A3E1;
  color: #ffffff;
}

.btn-secondary {
  background-color: #D94C48;
}

.btn-tertiary {
  background-color: #ffffff;
  color: #05506C;
}

main {
  position: relative;
  top: 70px;
}

main.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 350px;
  width: 100%;
  background-color: #05506C;
  z-index: -3;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

img {
  width: 100%;
}

header.header {
  width: 100%;
  max-width: 100vw;
}

header.header nav {
  z-index: 9999;
  width: 100%;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
}

header.header nav .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header nav .container .logo a img {
  width: 200px;
}

header.header nav .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header nav .container .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header.header nav .container .navigation ul li {
  margin: 5px;
}

header.header nav .container .navigation ul li a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 10px 5px;
  letter-spacing: .5px;
}

header.header nav .container .navigation ul li a:hover {
  color: #05506C;
}

@media screen and (max-width: 992px) {
  header.header nav .container {
    width: 90%;
  }
  header.header nav .container .logo a img {
    width: 180px;
  }
}

@media screen and (max-width: 700px) {
  header.header {
    position: relative;
  }
  header.header nav {
    height: 60px;
  }
  header.header nav .container .logo a img {
    width: 120px;
  }
  header.header nav .container .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 30px;
  }
  header.header nav .container .burger span {
    position: relative;
    height: 1px;
    width: 30px;
    background: #05506C;
    display: block;
  }
  header.header nav .container .burger span::before, header.header nav .container .burger span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 30px;
    top: -7px;
    background: #05506C;
  }
  header.header nav .container .burger span::after {
    top: 7px;
  }
  header.header nav .container .navigation {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  header.header nav .container .navigation ul {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 70px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header nav .container .navigation ul .hamburger {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.header nav .container .navigation ul .hamburger span {
    position: absolute;
  }
  header.header nav .container .navigation ul .hamburger span::before, header.header nav .container .navigation ul .hamburger span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 30px;
    top: -7px;
    background: #05506C;
    -webkit-transform: rotateZ(45deg) translate(3.5px, 7px);
            transform: rotateZ(45deg) translate(3.5px, 7px);
  }
  header.header nav .container .navigation ul .hamburger span::after {
    top: 7px;
    -webkit-transform: rotateZ(-45deg) translate(3.5px, -7px);
            transform: rotateZ(-45deg) translate(3.5px, -7px);
  }
  header.header nav .container .navigation ul li {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #438976;
  }
  header.header nav .container .navigation ul li a {
    padding: 0;
  }
  header.header nav .container .navigation.active {
    width: 70%;
    background: #fff;
    -webkit-box-shadow: -1px -2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: -1px -2px 1px rgba(0, 0, 0, 0.1);
  }
  header.header nav .container .btn {
    display: none;
  }
}

.banner {
  position: relative;
  top: 70px;
  padding: 70px 0;
}

.banner .container {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
}

.banner .container .illustration, .banner .container .welcoming-message {
  width: 100%;
}

.banner .container .illustration img, .banner .container .welcoming-message img {
  width: 80%;
}

.banner .container .welcoming-message {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner .container .welcoming-message h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
  background-attachment: fixed;
  -webkit-text-stroke: 1px #05506C;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #fff;
  color: #fff;
}

.banner .container .welcoming-message p {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.1rem;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

.banner .container .welcoming-message .btn {
  margin: 20px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 992px) {
  .banner {
    padding: 60px 0;
  }
  .banner .container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .banner {
    top: 60px;
    padding: 20px 0;
  }
  .banner .container {
    width: 90%;
    display: block;
  }
  .banner .container .illustration {
    display: none;
  }
  .banner .container .welcoming-message {
    padding: 10px 0;
  }
  .banner .container .welcoming-message h1 {
    font-size: 1.8rem;
  }
  .banner .container .welcoming-message p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.how {
  margin-top: 100px;
}

.how .container {
  background: #F6FDFF;
  padding: 50px 20px;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.how .container:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.how .container header h1 {
  position: relative;
  padding: 5px 30px;
  color: #05506C;
  font-weight: normal;
}

.how .container header h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #05506C;
}

.how .container .col-reasons {
  position: relative;
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template-columns: 1fr 1.5fr 1fr;
  font-family: 'Raleway', sans-serif;
}

.how .container .col-reasons .col1 {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how .container .col-reasons .col1 .row {
  margin: 30px 0;
  height: 200px;
}

.how .container .col-reasons .col1 .row h4 {
  color: #05506C;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.how .container .col-reasons .col1 .row h3 {
  font-weight: 400;
  color: #D94C48;
  margin-bottom: 15px;
}

.how .container .col-reasons .col1 .row p {
  color: #05506C;
  font-size: .95rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50px;
}

.how .container .col-reasons .col3 {
  text-align: left;
}

.how .container .col-reasons .col-reasons__col.col2 {
  padding: 0 40px;
}

.how .container .col-reasons .col-reasons__col.col2 .circle {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how .container .col-reasons .col-reasons__col.col2 .circle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 1080px) {
  .how .container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .how .container {
    width: 80%;
  }
  .how .container header {
    margin-bottom: 50px;
  }
  .how .container .col-reasons {
    -ms-grid-columns: 1fr 0fr 1fr;
        grid-template-columns: 1fr 0fr 1fr;
    grid-column-gap: 30px;
    position: relative;
    padding: 30px 0;
    height: 100%;
  }
  .how .container .col-reasons::before, .how .container .col-reasons::after {
    content: "";
    position: absolute;
    background: #05506C;
  }
  .how .container .col-reasons::before {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 100%;
  }
  .how .container .col-reasons::after {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    width: 1px;
  }
  .how .container .col-reasons .col1 .row {
    margin: 20px 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 {
    padding: 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 .circle {
    display: none;
    padding: 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 .circle::before {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .how .container {
    width: 90%;
  }
}

@media screen and (max-width: 635px) {
  .how .container {
    width: 90%;
  }
  .how .container header {
    margin-bottom: 20px;
  }
  .how .container .col-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0;
  }
  .how .container .col-reasons::before {
    display: none;
  }
  .how .container .col-reasons::after {
    display: none;
  }
  .how .container .col-reasons .col1 .row {
    height: 100%;
  }
  .how .container .col-reasons .col1 .row p {
    height: 100%;
  }
  .how .container .col-reasons .col1 .row-one {
    text-align: right;
    border-right: 2px solid #438976;
    padding-right: 20px;
  }
  .how .container .col-reasons .col1 .row-two {
    text-align: left;
    border-left: 2px solid #438976;
    padding-left: 20px;
  }
}

.curriculum .container {
  background-color: #F6FDFF;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
  z-index: -2;
  padding: 50px 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.curriculum .container:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.curriculum .container header {
  text-align: center;
}

.curriculum .container header h1 {
  text-transform: capitalize;
  color: #05506C;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.curriculum .container header p {
  width: 70%;
  margin: 20px auto;
  color: #438976;
  font-size: 1rem;
  line-height: 1.6rem;
}

.curriculum .container .showcase {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.curriculum .container .showcase .brain-image, .curriculum .container .showcase .curriculum-showcase {
  width: 50%;
  min-width: 300px;
}

.curriculum .container .showcase .brain-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.curriculum .container .showcase .brain-image img {
  width: 80%;
}

.curriculum .container .showcase .curriculum-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.curriculum .container .showcase .curriculum-showcase .before {
  width: 500px;
  position: relative;
  -webkit-box-shadow: 2px 3px 4px 3px rgba(2, 2, 2, 0.2);
          box-shadow: 2px 3px 4px 3px rgba(2, 2, 2, 0.2);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.curriculum .container .showcase .curriculum-showcase .before::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  -webkit-transform: skew(1deg, 1deg);
          transform: skew(1deg, 1deg);
  z-index: -1;
  background: linear-gradient(315deg, rgba(67, 137, 118, 0.3), rgba(0, 163, 225, 0.3));
}

.curriculum .container .showcase .curriculum-showcase .syllabus {
  position: relative;
  background: #E9EFF1;
  width: 100%;
}

.curriculum .container .showcase .curriculum-showcase .syllabus::before, .curriculum .container .showcase .curriculum-showcase .syllabus::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background: #438976;
}

.curriculum .container .showcase .curriculum-showcase .syllabus::before {
  top: 0;
}

.curriculum .container .showcase .curriculum-showcase .syllabus::after {
  bottom: 0;
  background: #05506C;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #05506C;
  list-style: none;
  width: 100%;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics li {
  width: 99%;
  padding: 15px 0;
  padding-left: 10px;
  -webkit-transition: .25s;
  transition: .25s;
  border-left: solid 5px #05506C;
  margin: 4px auto;
  -webkit-box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.2);
          box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefefe;
  font-size: 1.1em;
  transition: .25s;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics li .icon {
  margin-right: 20px;
  -webkit-transition: .25s;
  transition: .25s;
  color: #05506C;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics li:hover {
  background: #EEEEEE;
  border-left: 5px #438976 solid;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics li.active {
  background: #05506C;
  border-left: 5px #438976 solid;
  color: #eeeeee;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics li.active .icon {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  color: #eeeeee;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics div.active ul.sub-topics {
  padding: 20px 0;
  height: 100%;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics div ul.sub-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  margin: auto;
  height: 0;
  overflow: hidden;
  width: 90%;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics div ul.sub-topics li {
  border: none;
  padding: 5px 20px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  font-size: .9rem;
  background: none;
}

.curriculum .container .showcase .curriculum-showcase .syllabus ul.topics div ul.sub-topics li:hover {
  background: #fefefe;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 1080px) {
  .curriculum .container {
    width: 90%;
  }
  .curriculum .container header p {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .curriculum .container header {
    text-align: left;
  }
  .curriculum .container .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0;
  }
  .curriculum .container .showcase .brain-image, .curriculum .container .showcase .curriculum-showcase {
    width: 100%;
    min-width: 200px;
    margin: 30px 0;
  }
  .curriculum .container .showcase .brain-image img, .curriculum .container .showcase .curriculum-showcase img {
    width: 100%;
  }
}

.contact {
  margin: 70px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(5, 80, 108, 0.2)), to(#05506C)), url(../images/banner_bg.png);
  background: linear-gradient(90deg, rgba(5, 80, 108, 0.2), #05506C), url(../images/banner_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.contact .container {
  text-align: right;
  padding: 50px 0;
}

.contact .container .right-section header h1 {
  position: relative;
  padding: 5px 30px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

.contact .container .right-section header h1::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #fff;
}

.contact .container .right-section form {
  font-family: 'Raleway', sans-serif;
}

.contact .container .right-section form .fieldset label input, .contact .container .right-section form .fieldset label textarea {
  width: 500px;
  min-width: 300px;
  height: 40px;
  padding-left: 20px;
  border-radius: 7px;
  background-color: #E8F0FE;
  border: 1px solid #E8F0FE;
  margin: 15px 0;
  font-size: 1rem;
}

.contact .container .right-section form .fieldset label input::-webkit-input-placeholder, .contact .container .right-section form .fieldset label textarea::-webkit-input-placeholder {
  color: #757575;
}

.contact .container .right-section form .fieldset label input:-ms-input-placeholder, .contact .container .right-section form .fieldset label textarea:-ms-input-placeholder {
  color: #757575;
}

.contact .container .right-section form .fieldset label input::-ms-input-placeholder, .contact .container .right-section form .fieldset label textarea::-ms-input-placeholder {
  color: #757575;
}

.contact .container .right-section form .fieldset label input::placeholder, .contact .container .right-section form .fieldset label textarea::placeholder {
  color: #757575;
}

.contact .container .right-section form .fieldset label textarea {
  height: 100px;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.contact .container .right-section form .btn.btn-secondary {
  margin: 20px 0;
  width: 200px;
  height: 40px;
}

.contact .container .right-section form .btn.btn-secondary:hover {
  opacity: .9;
}

@media screen and (max-width: 700px) {
  .contact {
    margin: 40px 0;
  }
  .contact .container {
    width: 90%;
    padding: 30px 0;
  }
}

@media screen and (max-width: 625px) {
  .contact .container .right-section form .fieldset label input, .contact .container .right-section form .fieldset label textarea {
    width: 100%;
  }
}

footer {
  font-family: 'Raleway', sans-serif;
}

footer .container {
  text-align: center;
}

footer .container div {
  padding: 20px 0;
}

footer .container .quote {
  padding: 20px 0;
  max-width: 700px;
  margin: auto;
}

footer .container .quote blockquote {
  padding: 30px 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: italic;
}

footer .container .quote blockquote cite {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  color: #05506C;
  font-style: normal;
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

footer .container .social-media div.group {
  display: inline-block;
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
}

footer .container .social-media div.group p {
  font-size: 1.2rem;
}

footer .container .social-media div.group div {
  display: inline-block;
}

footer .container .social-media div.group div a {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 15px;
  color: #D94C48;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

footer .container .social-media div.group div a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #00A3E1;
}

footer .quick-links {
  padding: 20px 0;
  background: #05506C;
}

footer .quick-links .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .quick-links .container ul img {
  opacity: 1;
  height: 30px;
  width: auto;
  margin: 0 15px;
}

footer .quick-links .container ul li {
  margin: 20px 15px;
}

footer .quick-links .container ul li a {
  color: #fff;
  text-decoration: none;
  opacity: .7;
}

footer .quick-links .container ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .quick-links .container ul li a.btn.btn-tertiary {
  opacity: 1;
  color: #05506C;
}

footer .quick-links .container ul li a.btn.btn-tertiary:hover {
  text-decoration: none;
}

footer .copy-right {
  padding: 30px 0;
}

footer .copy-right .container {
  opacity: 1;
  font-size: .9rem;
}

@media screen and (max-width: 700px) {
  .container .quote {
    width: 100%;
  }
  .container .quote blockquote cite {
    right: 0;
  }
  .quick-links .container ul img {
    opacity: 1;
    height: 30px;
  }
  .quick-links .container ul li {
    margin: 20px 10px !important;
  }
  .copy-right .container {
    font-size: .8rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    top: 60px;
  }
  main::after {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .container {
    width: 90%;
  }
  .container h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 635px) {
  .container {
    width: 90%;
  }
  .container h1 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */