.user__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.user__registration button.btn-primary {
  margin-top: 20px;
  height: 40px;
  border: none;
  background: #CE4844;
  -webkit-box-shadow: inset 5px 5px 10px #521d1b, inset -5px -5px 10px #ff736d;
          box-shadow: inset 5px 5px 10px #521d1b, inset -5px -5px 10px #ff736d;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
}

.user__registration button.btn-primary:hover {
  background: #00A3E1;
  -webkit-box-shadow: inset 5px 5px 10px #00415a, inset -5px -5px 10px #00ffff;
          box-shadow: inset 5px 5px 10px #00415a, inset -5px -5px 10px #00ffff;
}

.user__registration .panel {
  width: 120%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__registration .panel .container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__registration .panel.left__panel {
  background: -webkit-gradient(linear, right top, left top, from(#121111), to(rgba(18, 17, 17, 0)));
  background: linear-gradient(270deg, #121111 0%, rgba(18, 17, 17, 0) 100%);
  text-align: center;
}

.user__registration .panel.left__panel h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  color: #00A3E1;
  font-weight: 900;
}

.user__registration .panel.left__panel h1 img {
  margin-right: 20px;
}

.user__registration .panel.left__panel p {
  color: #d4d0d0;
  font-size: 1.5rem;
  line-height: 3.75rem;
  font-weight: 100;
  margin-top: 30px;
}

.user__registration .panel.right__panel {
  background: rgba(0, 163, 225, 0.05);
  width: 80%;
}

.user__registration .panel.right__panel form {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.user__registration .panel.right__panel form a {
  color: #00A3E1;
  text-decoration: none;
}

.user__registration .panel.right__panel form a:hover {
  text-decoration: underline;
}

.user__registration .panel.right__panel form h1 {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 30px;
}

.user__registration .panel.right__panel form h1 img {
  margin-right: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 50px;
}

.user__registration .panel.right__panel form p {
  color: rgba(255, 255, 255, 0.6);
}

.user__registration .panel.right__panel .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.user__registration .panel.right__panel .field-group label {
  opacity: .7;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}

.user__registration .panel.right__panel .field-group input {
  height: 40px;
  padding-left: 20px;
  border: none;
  background: #E8F0FE;
  -webkit-box-shadow: inset 5px 5px 10px #5d6066, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #5d6066, inset -5px -5px 10px #ffffff;
}

.user__registration .panel.right__panel .field-group input:focus {
  background: #e2e5eb;
  -webkit-box-shadow: inset 5px 5px 10px #808286, inset -5px -5px 10px #d3cccc;
          box-shadow: inset 5px 5px 10px #808286, inset -5px -5px 10px #d3cccc;
}

.user__registration .panel.right__panel .field-group .password {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: #757575;
  line-height: 40px;
  cursor: pointer;
}

.user__registration .panel.right__panel .field-group .password .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 40px;
}

.user__registration .panel.right__panel .field-group .password.show-password {
  color: #0a0124;
}

.user__registration .panel.right__panel .extra-info {
  margin-top: 30px;
}

.user__registration .panel.right__panel .extra-info a.forgot-password {
  margin-bottom: 20px;
  display: block;
}

.user__registration .panel.right__panel .extra-info .shift {
  color: rgba(255, 255, 255, 0.6);
}

.styles_modal__gNwvD {
  padding: 0;
  background: #ffffff;
}

.styles_modal__gNwvD button.styles_closeButton__20ID4 {
  cursor: pointer;
}

.styles_modal__gNwvD .modal {
  padding: 50px;
  min-width: 500px;
}

.styles_modal__gNwvD .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.styles_modal__gNwvD .modal form .field-group, .styles_modal__gNwvD .modal form button {
  margin: 20px 0;
}

.styles_modal__gNwvD .modal form .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.styles_modal__gNwvD .modal form .field-group label {
  opacity: .7;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
}

.styles_modal__gNwvD .modal form .field-group input {
  height: 40px;
  padding-left: 20px;
  border: none;
  background: #E8F0FE;
  -webkit-box-shadow: inset 5px 5px 10px #d7d9df, inset -5px -5px 10px #f5f6f7;
          box-shadow: inset 5px 5px 10px #d7d9df, inset -5px -5px 10px #f5f6f7;
}

.styles_modal__gNwvD .modal form button.btn-primary {
  height: 40px;
  border: none;
  background: #CE4844;
  -webkit-box-shadow: inset 5px 5px 10px #521d1b, inset -5px -5px 10px #ff736d;
          box-shadow: inset 5px 5px 10px #521d1b, inset -5px -5px 10px #ff736d;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
}

.styles_modal__gNwvD .modal form button.btn-primary:hover {
  background: #00A3E1;
  -webkit-box-shadow: inset 5px 5px 10px #00415a, inset -5px -5px 10px #00ffff;
          box-shadow: inset 5px 5px 10px #00415a, inset -5px -5px 10px #00ffff;
}
/*# sourceMappingURL=style.css.map */